# 1. КОНФИГУРАЦИЯ БАЗЫ ДАННЫХ (POSTGRESQL)

# Имя пользователя для подключения к PostgreSQL
POSTGRES_USER=postgres

# Пароль для подключения к PostgreSQL
POSTGRES_PASSWORD=my_secret_password

# Имя создаваемой базы данных для сервиса
POSTGRES_DB=booking_db

# Хост базы данных.
POSTGRES_HOST=localhost

# Порт для подключения к PostgreSQL (по умолчанию 5432)
POSTGRES_PORT=5432


# НАСТРОЙКИ БЕЗОПАСНОСТИ И JWT-ТОКЕНОВ
# Секретный ключ для подписи JWT-токенов. Сгенерируй случайную строку (например, через openssl rand -hex 32)
SECRET_KEY=9a1f28b4c5e6d7a8b9c0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2

# Алгоритм шифрования JWT (для библиотеки pyjwt)
ALGORITHM=HS256

# Время жизни access-токена в минутах (например, 60 минут)
ACCESS_TOKEN_EXPIRE_MINUTES=60


# ДАННЫЕ ДЕФОЛТНОГО АДМИНИСТРАТОРА (Генерируется автоматически при старте)

# Логин супер-администратора для первичного входа в систему
ADMIN_LOGIN=admin

# ВНИМАНИЕ: Сюда нужно передавать ЗАХЕШИРОВАННЫЙ пароль (Bcrypt-хэш).
# Значение в одинарных кавычках — иначе docker compose воспримет $ как переменную и испортит хэш.
ADMIN_HASHED_PASSWORD='$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31tG'
